
    body {
        margin: 0;
        font-family: 'Inter', sans-serif;
        background-image: url(images/bgnorm.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        text-align: center;
        padding: 2rem;
    } 

    .device {
        text-align: center;
        margin: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #f9f9f9;
        width: 200px;
      }
      
      .device img {
        width: 100%;
        height: auto;
        border-radius: 5px;
      }
      
      .device a {
        display: inline-block;
        margin-top: 10px;
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
      }
      
      .device a:hover {
        text-decoration: underline;
      }


      .device-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
      }
       
      .logo-container {
        position: absolute;  
        top: 0;              
        left: 0;            
        padding: 10px;       
      }  
 